@import "../../styles/variables";

.custom-step {
    &:hover{
        background-color: #d0edff!important;
    }
  & > span {
    font-weight: 700;
  }
  & ~ div > span {
    font-family: "Plus Jakarta Sans" !important;
    @media(max-width: $mobile-breakpoint){
        font-size: 14px;
    }
  }


}

.custom-stepper-container{
    padding: 0!important;
}
