@import "../styles/variables";
.description {
  display: flex;
  align-items: center;
  & > * {
    width: 50%;
  }
  & > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @media (max-width: 915px) {
    & > div {
      width: 100%;
    }
    & > div:last-child {
      display: none;
    }
    .buttonSeachWrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.step {
  .usedDocument {
    display: flex;
    align-items: center;
    margin-top: 32px;
    & > div {
      width: 50%;
      &:first-child {
        display: flex;
        align-items: flex-start;
      }
      @media (max-width: 1150px) {
        width: 60%;
        &:first-child {
          width: 40%;
          margin-right: 20px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    p a {
      text-decoration: underline;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        margin-left: 24px;
        margin-bottom: 12px;
        &:before {
          content: "";
          display: inline-block;
          width: 18px;
          height: 13px;
          background-image: url("../components/Assets/Images/check.png");
          margin-right: 20px;
        }
        @media (max-width: $mobile-breakpoint) {
          margin-left: 12px;
          &:before {
            margin-right: 10px;
          }
        }
      }
    }

    @media (max-width: 875px) {
      & > div {
        width: 100%;
        &:first-child {
          display: none;
        }
      }
    }
  }
}

.stepper{
  margin: 24px 0;
}
