@import "../../styles/variables";

.headerWrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > .topNav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: $green-primary;
    height: 54px;
    border-radius: 0 0px 8px 8px;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 16px;
    font-weight: 500;
    width: 100%;
    & > div:first-child {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
      span {
        font-weight: 700;
      }
    }
    & > div:last-child {
      a {
        text-decoration-line: underline;
        margin-left: 16px;
      }
    }
    @media (max-width: 1150px) {
      max-width: 860px;
      margin: 0 32px;
    }

    @media (max-width: 860px) {
      display: none;
    }
  }

  nav {
    height: 77px;
    max-width: 1288px;
    margin: 86px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $green-secondary;
    width: 100%;
    & > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: 700;
      display: flex;
      align-items: center;
      & > li {
        margin-left: 32px;
        @media (max-width: 815px) and (min-width: $mobile-breakpoint) {
          margin-left: 16px;
        }
      }
    }
    @media (max-width: 1310px) {
      @include fit-container;
    }
    @media (max-width: $mobile-breakpoint) {
      margin-top: 0!important;
      height: 60px;
      ul {
        display: none;
        &.active {
          display: flex;
          flex-direction: column;
          background-color: white;
          width: 100%;
          position: absolute;
          top: 60px;
          left: 0;
          align-items: flex-start;
          padding: 12px 0;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          & > li {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 4px;

            .custom-menu-button {
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }
    }
    @media (max-width: 860px) {
      margin-top: 32px;
    }
  }

  .bg-white {
    height: 54px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    @media (max-width: 860px) {
      display: none;
    }
  }
}

.burger-menu {
  display: none;
  @media (max-width: $mobile-breakpoint) {
    display: block;
    cursor: pointer;
  }
}

.title-and-logo {
  display: flex;
  align-items: center;
  .title-mobile {
    display: none;
  }
  @media (max-width: $mobile-breakpoint) {
    img {
      height: 38px;
      width: 46px;
    }

    .title-mobile {
      display: flex;
      font-size: 8px;
      font-weight: 700;
      line-height: 12px;
      margin-left: 8px;
    }
  }
}

.mobile-tools-only {
  display: none;
  @media (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    & > a {
      margin-top: 4px;
    }
  }
}
