@import "../../styles/variables";

footer {
  background-color: $green-primary;
  color: white;
  padding: 48px 0 31px 0;
  .footerWrapper {
    max-width: 1278px;
    margin: 0 auto;

    .blocMenu {
      display: flex;
      gap: 180px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        & > li {
          &.title {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 26px;
            margin-top: 0;
            @media (max-width: $mobile-breakpoint) {
              font-size: 18px;
              margin-bottom: 18px;
            }
          }
          margin-top: 8px;
        }
      }

      @media (max-width: 910px) {
        gap: unset;
        justify-content: space-between;
      }

      @media (max-width: 530px) {
        flex-direction: column;
        ul {
          margin-bottom: 32px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    hr {
      margin: 32px 0;
    }
    .copyright {
      font-size: 14px;
    }

    @media (max-width: 1310px) {
      @include fit-container;
    }
  }
  @media (max-width: 530px) {
    padding: 32px 0;
  }
}
