@import "../../styles/variables";
.verticalStepper {
  .steps {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    & > span {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      border-radius: 50%;
      background-color: $blue-sky;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
    }
  }

  .line {
    margin: 4px 0;
    height: 45px;
    width: 4px;
    background-color: $blue-sky;
    position: relative;
    left: 23px;
  }
}
